body {
   font-family: "Roboto";
   font-family: "Lato";
   font-size: 14px;
}

.container {
   max-width: 1160px;
   margin: 0 auto;
}

.header {
   padding: 15px 0;
}

.header__nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__list {
   display: flex;
   justify-content: space-between;
}

.header__list-item + .header__list-item {
   margin-left: 30px;
}

.header__list-link {
   color: #939699;
   font-size: 14px;
   font-weight: 900;
   line-height: 20px;
   letter-spacing: 0.5px;
   text-transform: uppercase;
}

.btn {
   border-radius: 20px;
   background: #4592FF; 
   padding: 10px 20px;
}

.header__button-img {
   transform: translateY(20%);
}

.btn-text {
   color: #fff;
   font-weight: 900;
   line-height: 20px;
   margin-left: 10px;
}

.intro {
   background: #B4D1E0 url(../images/sweater.png) no-repeat 80%;
   padding: 90px 0 110px 0;
   margin-bottom: 50px;
}

.intro__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.switch-button {
   border-radius: 50%;
   background: none;
}

.switch-button-right{
   border-radius: 50%;
   background: none;
   margin-left: auto;
   transform: rotate(180deg);
   /* Почему-то я не смог сделать это все одним классом так как не срабатывает
   .switch-button + .switch-button не могу понять почему)) */
}

.intro__text {
   margin-left: 43px;
   width: 335px;
}

.label {
   display: inline-block;
   padding: 5px 12px;
   background: #3DC47E;
   color: #fff;
   border-radius: 3px;
   font-size: 12px;
   line-height: 15px;
}

.intro__text-label {
   margin-bottom: 25px;
}

.intro__text-title {
   color: #262D33;
   font-family: Roboto;
   font-size: 55px;
   font-weight: 700;
   line-height: 70px; 
   margin-bottom: 15px;
}

.intro__text-subtitle {
   color: #4B5157;
   font-size: 18px;
   line-height: 30px;
   margin-bottom: 40px;
}

.intro__text-button {
   display: inline-block;
   padding: 10px 25px;
}

.intro__text-button-price {
   color:  #FFF;
   font-size: 14px;
   font-weight: 900;
   line-height: 20px;   
}

.promo {
   margin-bottom: 60px;
}

.promo__top {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}

.promo__top-item {
   width: 563px;
   background: url(../images/column-top-1.png) no-repeat;
   padding: 60px 0px 0px 45px; 
   border-radius: 5px;
}

.promo__top-title {
   width: 221px;
   font-family: Roboto;
   font-size: 25px;
   margin-bottom: 15px;
   font-weight: 700;
   line-height: 30px;      
}

.promo__top-subtitle {
   width: 175px;
   line-height: 20px;
   margin-bottom: 25px;
}

.promo__top-link {
   display: inline-flex;
   align-items: center;
}

.promo__top-link--text {
   margin-left: 0px;
   margin-right: 5px;
}

.promo__top-second_item {
   width: 563px;
   background: url(../images/column-top-2.png)no-repeat;
   padding: 60px 0 80px 45px;
   border-radius: 5px;
}

.promo__top-second_title {
   width: 252px;
   color: #FFF;
   font-family: Roboto;
   font-size: 25px;
   font-weight: 700;
   line-height: 30px;
   margin-bottom: 15px;

}

.promo__top-second_subtitle {
   line-height: 20px;
   opacity: 0.85;
   color: #FFF;
   width: 175px;
   margin-bottom: 25px;
}

.promo__bottom {
   display: flex;
   justify-content: space-between;
}

.promo__bottom-item {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   width: 860px;
   background: #CCD5E6 url(../images/column-bottom.png) no-repeat 80%;
   padding: 35px 35px 65px 45px;
   border-radius: 5px;
}

.promo__bottom-label {
   margin-bottom: 35px;
}

.promo__bottom-title {
   color: #262D33;
   font-family: Roboto;
   font-size: 40px;
   font-weight: 700;
   line-height: 50px;
   width: 318px;
   margin-bottom: 20px;

}

.promo__bottom-subtitle {
   line-height: 20px;
   color: #4B5157;
   margin-bottom: 40px;
}

.promo__bottom-pictures {
   border: 2px solid #fff;
   border-radius: 5px;
   background: #CCD5E6;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.promo__bottom-input {
   display: none;
}

.promo__bottom-picture {   
  width: 54px;
  text-align: center;
  cursor: pointer;
}

.promo__bottom-input:checked + .promo__bottom-picture{
   background: #fff;
   transition: .6s;
}

.promo__bottom-picture + .promo__bottom-input + .promo__bottom-picture {
   border-top: 2px solid #fff;
}

.promo__bottom-second-item {
   width: 277px;
   background: #FF4F52 url(../images/column-bottom-2.png) no-repeat 100%;
   border-radius: 5px;
   padding: 35px 0px 0px 25px;
}

.promo__bottom-second-title {
   font-family: Roboto;
   font-size: 25px;
   color: #fff;
   font-weight: 700;
   line-height: 30px;
   margin-bottom: 10px;
}

.promo__bottom-second-subtitle {
   color: #FFC4C9;
   line-height: 20px;
   margin-bottom: 15px;
}

.promo__bottom-second-price {
   color: #FFF;
   font-weight: 900;
}

.arrivals {
   margin-bottom: 70px;
}

.arrivals__text {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}

.arrivals__text-intro {
   font-family: Roboto;
   font-size: 25px;
   font-weight: 700;
   line-height: 30px;
   color: #262D33;
}

.arrivals__text-link {
   font-weight: 900;
   color: #262D33;
}

.arrivals__cards {
   display: flex;
   justify-content: space-between;
}

.arrivals__cards-item {
   width: 263px;
   padding: 18px 0 0 18px;
}

.arrivals__cards-inner {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.arrivals__cards-title {
   font-family: Roboto;
   font-size: 16px;
   font-weight: 700;
   line-height: 25px;
   color: #262D33;
   margin: 15px 0 0 5px;

}

.arrivals__cards-subtitle {
   color: #4B5157;
   margin-bottom: 20px;
}

.arrivals__cards-price {
   font-size: 18px;
   font-weight: 900;
   line-height: 30px;
}  

.footer {
   background: #8F79D4;
}

.footer-container {
   max-width: 1140px;
   margin: 0 auto;
}

.footer__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 41px 0;
   border-bottom: 1px solid #D8BFFF;
}

.footer__top-info {
   width: 453px;
   display: flex;
   justify-content: space-between;
}

.footer__top-info--item {
   font-weight: 900;
   color: #FFF;
}

.footer__top-social {
   display: flex;
   align-items: center;
   margin-left: 230px;
}

.footer__top-social--text {
   color: #E7D9FF;
   margin-right: 25px;
}

.footer__top-social--link + .footer__top-social--link {
   margin-left: 15px;
}

.footer__top-copyright {
   color: #E7D9FF;
   margin-left: auto;
}

.footer__bottom {
   display: flex;
   justify-content: space-between;  
   align-items: center;
   padding: 30px 0;
}

.footer__bottom-payment--link + .footer__bottom-payment--link{
   margin-left: 25px;
}

.footer__bottom-nav {
   display: flex;
   align-items: center;
}

.footer__bottom-nav--text {
   color: #FFF;
   font-size: 14px;
   font-weight: 900;
   line-height: 20px;
}

.footer__bottom-nav--btn {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px;
   border: 1px solid #D8BFFF;
   border-radius: 50%;
   margin-left: 20px;
   width: 40px;
   height: 40px;
}






